---
import PageLayout from "@/layouts/PageLayout.astro";
import BlogPostDisplay from "@/layouts/blogLayouts/BlogPostDisplay.astro";
---

<PageLayout
  title="Blog"
  description="Blog posts about various topics, mostyly about web development."
  showAside={true}
  showFooter={false}
>
  <main>
    <BlogPostDisplay />
  </main>
</PageLayout>
