---
import BlogPostDisplay from "@/layouts/blogLayouts/BlogPostDisplay.astro";
import PageLayout from "@/layouts/PageLayout.astro";

const { tag } = Astro.props;
---

<PageLayout
  title="Blog"
  description="Blog posts about various topics, mostly about web-development."
  showAside={true}
>
  <main>
    <BlogPostDisplay />
  </main>
</PageLayout>

<style>
  main {
    padding-inline: 1rem;
    min-height: 100vh;
  }
  @media (width < 1200px) {
    main {
      padding-top: var(--header-offset);
    }
  }
</style>
