---
import BlogPostDisplay from "@/components/BlogPostDisplay.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout
  title="Blog"
  description="Blog posts about various topics, mostyly about web development."
>
  <main>
    <BlogPostDisplay />
  </main>
</PageLayout>

<style></style>
