---
import PageLayout from "../layouts/PageLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";

// const allPosts: any[] = Object.values(
//   import.meta.glob("./posts/*.md", { eager: true })
// );
const allPosts = await getCollection("posts");
console.log("all", allPosts[0]);

allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);

console.log(allPosts);
---

<PageLayout title="Blog" description="Blog posts about various topics">
  <main>
    {
      allPosts.map((post) => {
        return <BlogPost title={post.data.title} url={`/posts/${post.slug}`} />;
      })
    }
  </main>
</PageLayout>

<style>
  main {
    background-color: aliceblue;
  }
</style>
