---
import PageLayout from "../layouts/PageLayout.astro";
import Nik from "@/assets/nik.gif";
import MeshGradient from "@/assets/mesh-gradient.svg";
import { Image } from "astro:assets";
import Card from "../components/Card.astro";
import Cicada from "../components/Cicada.astro";
import { Code } from "astro:components";
import Overlap from "../components/Overlap.astro";
import WordMorph from "../components/WordMorph.astro";
import IconCarousel from "@/components/IconCarousel.astro";
import Footer from "@/layouts/Footer.astro";
import LatestPostsDisplay from "@/components/LatestPostsDisplay.astro";
import HeroText from "@/components/HeroText.astro";
import BigWords from "@/components/BigWords.astro";
---

<PageLayout
  title="Nope Studios"
  description="Nope Studios is a web design and development studio. We create websites, apps, and digital experiences that are beautiful, functional, and user-friendly."
  showAside={true}
>
  <main>
    <WordMorph />
    <HeroText />
  </main>

  <section>
    <BigWords />
  </section>
  <section>
    <LatestPostsDisplay />
  </section>
  <!-- <section class="cat-section">
    &numero;&Popf;
    <span>&#9787;</span>
  </section> -->
  <section class="bb">
    <h2 data-aos="zoom-in">stuff i use</h2>
    <IconCarousel />
  </section>
  <Footer />
</PageLayout>

<style>
  /* section {
    margin-block-end: 20rem;
    padding-inline: 2rem;
  }
  h2 {
    font-size: 1rem;
    font-style: italic;
    color: var(--clr-accent);
    text-align: left;
    margin-bottom: 1rem;
  } */
  .cat-section {
    background-color: var(--clr-accent);
    margin-block: 10rem;
    position: absolute;
    left: 0;
    right: 0;
    height: 20rem;
    display: grid;
    place-content: center;

    & > span {
      color: var(--yang);
      font-size: 5rem;
      font-family: var(--font-brand);
    }
  }

  main {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 90vh;
    background-image: url("/img/no-motion-nik.webp");
    background-position: center;
    padding-inline: 1rem;
    padding-block: 2rem;
    background-color: var(--yang);
    background-color: var(--clr-accent);
    background-color: var(--blueish);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    background-blend-mode: var(--blend-mode);
    margin-block-end: 5rem;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      /* width: 20px; */
      height: 500px;
      --hdr-gradient: linear-gradient(
        to top in oklch,
        var(--yang) 17% 17%,
        54%,
        oklch(98% 0 91 / 0) 81% 81%
      );

      background: var(--hdr-gradient);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 20px;
      --hdr-gradient: linear-gradient(
        to bottom in oklch,
        var(--yang) 17% 17%,
        54%,
        oklch(98% 0 91 / 0) 81% 81%
      );

      /* background: var(--hdr-gradient); */
    }

    @media (width > 1200px) {
      min-height: 100vh;

      &::after {
        height: 0px;
      }
    }

    @media (prefers-reduced-motion: no-preference) {
      background-image: url("/img/nik.gif");
    }
  }
</style>
