---
import PageLayout from "../layouts/PageLayout.astro";
import Nik from "@/assets/nik.gif";
import MeshGradient from "@/assets/mesh-gradient.svg";
import { Image } from "astro:assets";
---

<PageLayout>
  <main>
    <!-- <h1><span>e3exxx&#123;::::::::::::::::::::::&gt;</span></h1> -->
    <!-- <Image src={Nik} alt="Nik" class="x" /> -->
    <div>
      <h1>hello</h1>
    </div>
    <!-- <img src={Nik.src} alt="Nik" /> -->
  </main>

  <style>
    .x {
      width: 100%;
      object-fit: cover;
    }

    div {
      background: url("nik.gif");
      background-size: cover;
      background-position: center;
      /* background-color: rgba(61, 1, 199, 0.918); */
      background-blend-mode: color-burn;
      /* height: 50vh; */
    }
  </style>
</PageLayout>
