---
import PageLayout from "../layouts/PageLayout.astro";
import Nik from "@/assets/nik.gif";
import MeshGradient from "@/assets/mesh-gradient.svg";
import { Image } from "astro:assets";
import Card from "../components/Card.astro";
import Cicada from "../components/Cicada.astro";
import { Code } from "astro:components";
import Overlap from "../components/Overlap.astro";
import WordMorph from "../components/WordMorph.astro";
---

<PageLayout
  title="Nope Studios"
  description="Nope Studios is a web design and development studio. We create websites, apps, and digital experiences that are beautiful, functional, and user-friendly."
>
  <main class="co">
    <WordMorph />

    <p>
      I'm a web designer & developer. I build websites, apps, interfaces, and
      make digital things work (most of the time).
    </p>
  </main>
  <section>
    <div class="inner">
      <h2>Rothko Chillida Ström</h2>
      <h2>Rothko Chillida Ström</h2>
      <h2>Rothko Chillida Ström</h2>
    </div>
    <!-- <Overlap /> -->
  </section>
</PageLayout>

<style>
  p {
    /* letter-spacing: 2px; */
    font-family: var(--font-heading);
    font-size: 1rem;
    max-width: 31ch;
    align-self: flex-end;
    text-wrap: pretty;
    color: var(--yin);
    z-index: 2;
  }
  main {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 90vh;
    background-image: url("img/no-motion-nik.webp");
    background-position: center;
    padding-inline: 1rem;
    padding-block: 2rem;
    background-color: var(--blueish);
    background-color: var(--clr-accent);
    background-color: var(--yang);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    background-blend-mode: var(--blend-mode);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      /* width: 20px; */
      height: 150px;
      --hdr-gradient: linear-gradient(
        to top in oklch,
        var(--yang) 17% 17%,
        54%,
        oklch(98% 0 91 / 0) 81% 81%
      );
      --sdr-gradient: linear-gradient(
        to top,
        #f8f8f8 17% 17%,
        54%,
        #f8f8f800 81% 81%
      );

      background: var(--hdr-gradient);
    }

    @media (width > 1200px) {
      min-height: 100vh;
    }

    @media (prefers-reduced-motion: no-preference) {
      background-image: url("img/nik.gif");
    }
  }

  @keyframes gradient-change {
    to {
      --clr-accent: oklch(30% 0.29 149);
      --white: oklch(90% 0 91);
    }
  }

  section {
    --hdr-gradient: radial-gradient(
      farthest-corner circle at 50% 50% in oklab,
      var(--clr-accent) 12% 12%,
      var(--yang) 56% 56%
    );
    --sdr-gradient: radial-gradient(
      farthest-corner circle at 50% 50%,
      var(--clr-accent) 12% 12%,
      var(--yang) 56% 56%
    );
    /* height: 50vh; */

    width: 100%;
    background-color: var(--blueish);
    /* -webkit-mask: var(--mask-edge-zig-zag-top); */
    background-color: var(--clr-primary-600);
    background-color: var(--clr-accent);
    background: var(--hdr-gradient);
    /* padding-top: 2rem;
    margin-top: -2rem; */
    position: absolute;
    z-index: 2;
    left: 0;

    @media (prefers-reduced-motion: no-preference) {
      animation: gradient-change 10s linear infinite alternate;
    }

    .inner {
      /* background-color: red; */
      /* background-color: aliceblue; */
      margin-inline: auto;
      /* width: 100%; */
      display: grid;
      grid-template-columns: 1fr;

      @media (width > 1200px) {
        width: min(100%, 901px);
        width: clamp(901px, 76vw, 1100px);
      }
    }

    h2 {
      font-size: var(--text-huge);
    }
  }
</style>

<!-- <h1>I breathe life into pixels</h1>
<p>From void to vision, I shape, I summon, I watch over.</p>
<h1>Architect of the digital realm</h1>
<p>
  From the first keystroke to the last sunset, I create, nurture, and let go.
</p>
<h1>From thought to existence</h1>
<p>
  I summon forms from the void, breathe life into the static, and watch them
  roam.
</p>
<h1>Creator of fleeting infinities</h1>
<p>
  I call them into being, watch them evolve, and whisper them into the archive
  of time.
</p>
<h1>God of the in-between</h1>
<p>From first spark to final echo, I make, I mend, I move on.</p> -->

<!-- <section>
  <h2>Reality check:</h2>
  <p>
    I'm not a god. I just make websites and apps. But I do control the pixels,
    so that’s something.
  </p>
</section>
<section>
  <h2>Translation:</h2>
  <p>
    I make websites and apps. No divine powers, just a lot of HTML, CSS, and
    caffeine.
  </p>
</section>
<section>
  <h2>Okay, but seriously...</h2>
  <p>
    I'm a web designer & developer. I build websites, craft interfaces, and make
    digital things work (most of the time).
  </p>
</section> -->
