---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <h1>hello</h1>
  <p>scroll driven animations! lots</p>
  <h2>hey</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate in
    nostrum qui nisi incidunt architecto laborum debitis modi repellendus. Qui
    repellendus eum libero dolores quidem blanditiis dolorem minima sunt laborum
    odio, porro sint deserunt rem! Dicta, illo alias natus harum quos facilis,
    nemo aperiam consequatur ea sunt incidunt excepturi hic itaque architecto
    ullam, maiores inventore deserunt tempore cum atque vitae animi? Sunt porro
    commodi cum. Magni consequuntur libero distinctio minus neque asperiores,
    commodi fugit unde veniam harum voluptatem optio reprehenderit cumque
    officia error, tempore, delectus illum? Quos, repellendus laboriosam.
    Consequatur iusto minus voluptas. Neque pariatur iusto enim explicabo quos
    porro vero? Rem numquam voluptatibus ex fugiat ratione ipsa quidem expedita
    maiores maxime, commodi, non cupiditate inventore dignissimos totam labore?
    Ab ut, beatae quae mollitia facilis alias tempora vel. Voluptatibus quae
    consequuntur eveniet molestias corporis saepe officia? Iure ex alias quod
    sint nesciunt. Porro repellat excepturi, harum ab impedit est eum fugit
    debitis non nihil, quidem vero soluta molestias, architecto sit enim hic
    illo illum totam iure quae deleniti vitae nisi. Quas dolorum asperiores at
    officia quis modi magni delectus obcaecati voluptatibus rerum veritatis
    incidunt iusto minima sit, et molestias ut quisquam corrupti, ad aliquam id,
    architecto aliquid perspiciatis magnam. Repellat.
  </p>
  <h3>lol</h3>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui molestiae modi
    iste eos atque non ex nesciunt consequuntur itaque autem consequatur
    voluptates quia, quam reprehenderit accusamus aliquid corrupti
    necessitatibus, consectetur sint! Quaerat explicabo corrupti quia aut
    officiis veniam illo blanditiis aliquam modi voluptatum, sequi corporis qui
    maiores sunt nostrum maxime molestias iste. Delectus voluptatum quidem rerum
    quam autem eligendi soluta veritatis dicta mollitia tempore error voluptas
    omnis, deserunt, laboriosam aspernatur minima adipisci iusto quis eum
    blanditiis, esse vitae. Hic obcaecati porro earum sapiente neque modi vero
    voluptatibus aut, dolor magni. Ab, beatae mollitia consequatur veniam
    distinctio sint nisi, quisquam aspernatur necessitatibus porro perferendis
    aut temporibus cum minima dignissimos sit, velit nam! Nesciunt iste natus
    consequuntur velit voluptatem facere doloremque culpa tenetur repudiandae
    dolore id optio rerum ad, veritatis sed ea cumque, debitis quo impedit.
    Cupiditate accusamus animi ipsa sint, soluta molestias non fugit illo eaque
    nihil, consequatur consequuntur dolorum rerum? Veniam repellat perferendis
    quis accusamus magnam dolore eligendi, autem ullam eum praesentium a quasi
    recusandae, porro laborum! Labore, nam, pariatur eveniet suscipit,
    voluptatem dignissimos veritatis cumque similique illo dolore ut delectus
    placeat veniam harum numquam quis nulla quia! A totam sit voluptatem iusto
    ad ratione, vitae enim provident aspernatur quia! Omnis totam laborum
    tempore nesciunt a assumenda dolore, dolores, possimus non molestias ducimus
    doloribus, corrupti odio libero maiores eveniet officiis. Voluptatibus
    repellat, cumque necessitatibus quaerat aliquam sapiente. Accusamus illo
    quibusdam atque. Minus nostrum rem quo sed maiores eveniet beatae? Nam,
    provident nulla corrupti maiores eaque reprehenderit fugiat quia cum iure?
    Error, odit? Sint iure necessitatibus non distinctio cumque laboriosam
    voluptas eum corrupti amet voluptatem! Minus nesciunt laudantium dicta,
    accusamus quaerat ut quod! Magnam soluta ex autem, quisquam dicta
    perferendis, nesciunt voluptates, aliquid iure repudiandae impedit.
    Provident tempora ad dignissimos, dolorum maxime voluptates voluptatibus
    ratione, cum soluta corrupti natus? Provident, repellat.
  </p>
</PageLayout>
