---
import PageLayout from "../layouts/PageLayout.astro";
import Nik from "@/assets/nik.gif";
import MeshGradient from "@/assets/mesh-gradient.svg";
import { Image } from "astro:assets";
import Card from "../components/Card.astro";
import Cicada from "../components/Cicada.astro";
import { Code } from "astro:components";
import Overlap from "../components/Overlap.astro";
import WordMorph from "../components/WordMorph.astro";
import IconCarousel from "@/components/IconCarousel.astro";
import Footer from "@/layouts/Footer.astro";
---

<PageLayout
  title="Nope Studios"
  description="Nope Studios is a web design and development studio. We create websites, apps, and digital experiences that are beautiful, functional, and user-friendly."
  showAside={true}
>
  <main class="co">
    <WordMorph />

    <p>
      No, but really. I’m an aspiring web designer & developer — not an
      architect or a god. I design and build websites, apps, and interfaces that
      (usually) work.
      <a href="mailto:example@example.com"> (contact?)</a>
    </p>
  </main>

  <section class="big-words">
    <div class="inner">
      <h2>stuff i like</h2>
      <h3
        data-aos="fade-up-right"
        data-aos-anchor-placement="top-center"
        data-aos-offset="10"
      >
        Amore
      </h3>
      <h3 data-aos="fade-up-left" data-aos-anchor-placement="top-center">
        Nehebkau
      </h3>
      <h3>Sports</h3>
      <h3>Sports</h3>
      <h3>Sports</h3>
    </div>
  </section>

  <!-- <section class="cat-section">
    &numero;&Popf;
    <span>&#9787;</span>

  </section> -->
  <section class="bb">
    <h2 data-aos="zoom-in">stuff i use</h2>
    <IconCarousel />
  </section>
  <!-- <Footer /> -->
</PageLayout>
<script>
  import AOS from "aos";
  import "aos/dist/aos.css";
  document.addEventListener("astro:page-load", () => {
    AOS.init({
      duration: 500,
      easing: "ease-in-out",
      once: false,
      mirror: false,
    });
  });
</script>
<style>
  section {
    padding-block: 20rem;
    padding-inline: 2rem;
  }
  h2 {
    font-size: 1rem;
    font-style: italic;
    color: var(--clr-accent);
    /* text-align: center; */
    text-align: left;
    margin-bottom: 1rem;
  }
  /* .cat-section {
    background-color: var(--clr-accent);
    margin-block: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    height: 10rem;
    display: grid;
    place-content: center;

    & > span {
      color: var(--yang);
      font-size: 5rem;
      font-family: var(--font-brand);
    }
  } */
  .bb {
    /* margin-top: 15rem; */
    /* padding: min(1rem, 2vw); */
  }
  p {
    /* letter-spacing: 2px; */
    font-family: var(--font-heading);
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    font-style: italic;
    text-wrap: pretty;
    line-height: 1.2;
    max-width: 31ch;
    text-align: justify;
    align-self: flex-end;
    color: var(--yin);
    z-index: 2;

    a:any-link {
      color: var(--clr-accent);
      text-decoration: none;
      font-weight: bold;
      transition: text-decoration 0.2s ease-in-out;
      text-align: right;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 0.25em;
      }
    }
  }
  main {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 90vh;
    background-image: url("/img/no-motion-nik.webp");
    background-position: center;
    padding-inline: 1rem;
    padding-block: 2rem;
    background-color: var(--clr-accent);
    background-color: var(--blueish);
    background-color: var(--yang);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    background-blend-mode: var(--blend-mode);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      /* width: 20px; */
      height: 500px;
      --hdr-gradient: linear-gradient(
        to top in oklch,
        var(--yang) 17% 17%,
        54%,
        oklch(98% 0 91 / 0) 81% 81%
      );

      background: var(--hdr-gradient);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 20px;
      --hdr-gradient: linear-gradient(
        to bottom in oklch,
        var(--yang) 17% 17%,
        54%,
        oklch(98% 0 91 / 0) 81% 81%
      );

      background: var(--hdr-gradient);
    }

    @media (width > 1200px) {
      min-height: 100vh;

      &::after {
        height: 0px;
      }
    }

    @media (prefers-reduced-motion: no-preference) {
      background-image: url("/img/nik.gif");
    }
  }

  @keyframes gradient-change {
    to {
      --clr-accent: oklch(30% 0.29 149);
      /* --white: oklch(90% 0 91); */
    }
  }

  section.big-words {
    --hdr-gradient: radial-gradient(
      farthest-corner circle at 50% 50% in oklab,
      var(--clr-accent) 12% 12%,
      var(--yang) 56% 56%
    );

    /* width: 100%;  */
    /* -webkit-mask: var(--mask-edge-zig-zag-top); */
    background: var(--hdr-gradient);
    z-index: 2;
    left: 0;

    @media (prefers-reduced-motion: no-preference) {
      animation: gradient-change 6s linear infinite alternate;
    }

    .inner {
      /* background-color: red; */
      /* background-color: aliceblue; */
      margin-inline: auto;
      width: 100%;
      padding-block: 5rem;
      text-align: center;
      /* display: grid; */
      /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */

      @media (width > 1200px) {
        width: min(100%, 901px);

        /* tinker with these values */
        width: clamp(901px, 70vw, 1100px);
        width: clamp(801px, 70vw, 1100px);
      }
    }

    h3 {
      /* --text-huge: clamp(5rem, 1rem + 20vw, 20rem); */
      text-box: trim-both cap alphabetic;
      font-size: var(--text-huge);
    }
  }
</style>
