---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <!-- <div>Fyll på med alla bookmarks</div>
  <div>Allt från mina folders och notes</div>
  <div>alla projekt</div>
  <div>blog</div> -->
  <h1>Hello</h1>
</PageLayout>
