---
import LatestPostCard from "@/components/LatestPostCard.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import Card from "@/components/Card.astro";
---

<PageLayout title="About" showAside={true}>
  <main>lol</main>
  <p>
    I feel like in this field you have to be adaptable and constantly be on your
    toes. Its an ever evolving landscape. New technologies come along all the
    time. In the few years that i have been playing around and studying in this
    field. I've noticed alot of tribalism. People learn some framework or
    technology and then swear to it as its a church. everything else is bad. new
    stuff? nah. I feel like this is the wrong mentality in this field. You have
    to adapt, learn new things, be able to let go. Ancora Imparo.
  </p>
  <h1>Add table of contents to blog posts!</h1>
  <h2>add tldr to blog posts</h2>
  <h3>add related posts to blog posts</h3>
  <h4>add post footer with "find any typos bugs or whatever"</h4>
  <!-- <LatestPostCard post={latestPost} />
  <Card title={latestPost?.data.title} /> -->
  <p>no stresso, no need to be depresso</p>
  <p>
    Summer 2022. I was lost. I was in a rut. I was stuck in a job that I didn't
    like, doing work that I didn't care about. I stumbled upon <a
      href="freecodecamp">a free coding site</a
    >. I had no idea what a &lt;h1&gt; was. But i was hooked pretty much
    immediately. Now, 3 years later. With two educations in my pocket and
    countless hours spent building, watching youtube-videos tinkering with code,
    I can say that I have found my passion. I love building things. I love the
    feeling of creating something from nothing. I love the feeling of solving a
    problem. I love the feeling of learning something new. I love the feeling of
    being challenged. I love the feeling of being in flow. I love the feeling of
    being in control. I love the feeling of being free.

    <style>
      h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: center;
      }

      main {
        --hdr-gradient: linear-gradient(
          to top in oklab,
          oklch(80% 0.29 149) 12% 12%,
          oklch(98% 0 91) 68% 68%
        );
        background: var(--hdr-gradient);
        padding: 3rem 1rem;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 0.5rem;
        /* max-width: 1200px; */
        margin: 0 auto;
        grid-template-rows: auto;
        /* Enable subgrid for columns */
        grid-auto-flow: dense;
      }

      li {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 1;
      }

      @supports not (grid-template-rows: subgrid) {
        li {
          height: 100%;
        }
      }

      @media (max-width: 768px) {
        ul {
          grid-template-columns: 1fr;
        }
      }
    </style>
  </p>
</PageLayout>
