---
import ScrollProgressIndicator from "@/components/ScrollProgressIndicator.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About">
  <main>lol<ScrollProgressIndicator /></main>
</PageLayout>

<style>
  ul {
    display: flex;
  }
  main {
    --hdr-gradient: linear-gradient(
      to top in oklab,
      oklch(80% 0.29 149) 12% 12%,
      oklch(98% 0 91) 68% 68%
    );

    background: var(--hdr-gradient);
  }
</style>

<script is:inline>
  console.log("About page loaded");
  document.addEventListener("astro:page-load", () => {
    console.log("About page loaded again");
  });

  function isPrime(num) {
    if (num <= 1) return false;

    for (let i = 2; i <= Math.sqrt(num); i++) {
      console.log("doesnt run if num is 2 or 3");
      if (num % i === 0) return false;
    }
    return true;
  }
  function isPrime2(num) {
    if (num <= 1) return false;

    for (let i = 2; i < num; i++) {
      if (num % i === 0) return false;
    }
    return true;
  }
  console.log(Math.sqrt(5));
  console.log(isPrime2(2));
  console.log(isPrime(3));
  console.log(2 % 2);
</script>
