---
import ScrollProgressIndicator from "@/components/ScrollProgressIndicator.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About">
  <main>lol</main>
  <button class="op">Update</button>
</PageLayout>

<script>
  const btn = document.querySelector("button.op")!;
  btn.addEventListener("click", () => {
    console.log("clicked");
    console.log(btn);
  });
</script>

<style>
  ul {
    display: flex;
  }
  main {
    --hdr-gradient: linear-gradient(
      to top in oklab,
      oklch(80% 0.29 149) 12% 12%,
      oklch(98% 0 91) 68% 68%
    );

    background: var(--hdr-gradient);
  }
</style>
