---
import BigRedButton from "@/components/BigRedButton.astro";
---

<div class="x">
  <h1>X TWITTER X</h1>

  <div>random bullshit post #1</div>
  <div>random bullshit post #2</div>
  <div>random bullshit post #3</div>
  <div>random bullshit post #4</div>
  <div style="margin-bottom: 3rem;">random bullshit post #5</div>

  <BigRedButton text="snap back to reality" />
</div>

<style>
  .x {
    /* overflow: hidden; */
    height: 100vh;
    align-content: center;
    text-align: center;
  }
</style>
