---
import { Icon } from "astro-icon/components";
import { navItems } from "../utils";
---

<button popovertarget="mobile-menu" class="burger">
  <Icon name="ri:menu-3-line" size={20} />
  <span class="sr-only hidden">Open menu</span>
</button>

<nav popover id="mobile-menu">
  <button
    class="close-btn"
    popovertarget="mobile-menu"
    popovertargetaction="hide"
  >
    <Icon aria-hidden="true" name="ri:close-large-line" size={20} />
    <span class="sr-only hidden">Close menu</span>
  </button>
  <menu class="nav-list-sorry-not-sorry">
    {
      navItems.map((item) => {
        return (
          <li class="quick-flip">
            <a href={item.path}>{item.name}</a>
          </li>
        );
      })
    }
  </menu>
</nav>

<style>
  [popover] {
    background-color: var(--yang);
    width: 100vw;
    height: 100vh;
    translate: 0 -100%;
    transition: all 0.5s ease-in-out;
    transition-behavior: allow-discrete;
    border: none;

    &::backdrop {
      /* background-color: rgba(0, 0, 0, 0.9); */
    }

    &:popover-open {
      translate: 0;
      overscroll-behavior: contain;
    }

    @starting-style {
      transform: translateY(-80%); /* Start off-screen */
    }
  }

  .close-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.225rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  .burger {
    background: none;
    border: none;
    cursor: pointer;
    padding: var(--gap-xs);

    @media (width > 768px) {
      display: none;
    }
  }

  menu {
    list-style: none;

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: var(--yin);
    font-size: 7rem;

    text-transform: uppercase;
    font-family: var(--font-brand);

    transition: color 0.3s ease;
  }
</style>
