---
import { EMAIL } from "@/utils/data";
const { text } = Astro.props;
---

<a href={`mailto:${EMAIL}`}> &#x2937; <slot /></a>

<style>
  a:any-link {
    color: light-dark(oklch(from var(--clr-accent) 70% c h), var(--clr-accent));
    /* text-decoration: none; */
    font-weight: bold;
    transition: text-decoration 0.2s ease-in-out;
    text-align: right;
    display: block;
    padding-top: 0.5rem;
    margin-left: auto;
    /* font-size: 1.25rem; */
    /* font-family: var(--font-brand); */

    text-underline-offset: 0.25em;
  }
</style>
