---

---

<header>
  <nav role="navigation" aria-label="main-navigation">
    <div class="logo-container">
      <span>e3e cxxx&#123;::::::::::::::::::::::&gt;</span>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>
