---
import { EMAIL } from "@/utils/data";
import ContactLink from "./ContactLink.astro";
---

<p class="hero-text">
  <!-- Basically, <strong>we build for the web</strong>. Websites, apps, prototypes,
  weird experiments — if it lives in a browser, we’re into it.<br /> -->
  <strong>Need a hand with your next digital thing?</strong> Whether it's just an
  idea — or halfway built and held together with duct tape, we’re here for it. Bring
  the chaos — we’ll bring the code.
  <ContactLink> Hit us up </ContactLink>
</p>
<style>
  p.hero-text {
    /* letter-spacing: 2px; */
    font-family: var(--font-body);
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    font-style: italic;
    text-wrap: pretty;
    line-height: 1.4;
    max-width: 35ch;
    text-align: justify;
    align-self: flex-end;
    color: var(--yin);
    z-index: 2;
    /* padding-bottom: 1rem; */
  }
</style>
