---
import { EMAIL } from "@/utils/data";
---

<p class="hero-text">
  Basically, <strong>we build for the web</strong>. Websites, apps, prototypes,
  weird experiments — if it lives in a browser, we’re into it.<br />
  <strong>Need a hand with your next digital thing?</strong> Whether it's just an
  idea or halfway built and held together with duct tape, we’re here for it. Bring
  the chaos — we’ll bring the code.
  <a href={`mailto:${EMAIL}`}> &#x2937; Hit us up.</a>
</p>
<style>
  p.hero-text {
    /* letter-spacing: 2px; */
    font-family: var(--font-heading);
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    font-style: italic;
    text-wrap: pretty;
    line-height: 1.2;
    max-width: 35ch;
    text-align: justify;
    align-self: flex-end;
    color: var(--yin);
    z-index: 2;

    a:any-link {
      color: light-dark(var(--clr-accent), var(--clr-accent));
      text-decoration: none;
      font-weight: bold;
      transition: text-decoration 0.2s ease-in-out;
      text-align: right;
      display: block;
      margin-left: auto;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 0.25em;
      }
    }
  }
</style>
