---
import { Icon } from "astro-icon/components";
import { devPlain, catppuccin, devicon } from "../utils/data.js";
---

<ul class="logos">
  {
    catppuccin.names.map((name) => (
      <li class="tech-icon" title={name}>
        <Icon
          class="tech-icon"
          name={`${catppuccin.icon}:${name}`}
          size="2rem"
        />
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: grid;
    max-width: 600px;
    margin-inline: auto;
    place-items: center;

    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    list-style: none;

    gap: 1rem;
    @media (width < 600px) {
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }
  }
</style>
