<div class="logo">
  <span>e</span><span style="color: var(--clr-primary-500)">three</span><span
    >e</span
  ><span>&#123;:::::::::::::::&gt;</span>
</div>
<style>
  .logo {
    font-size: 1.25rem;
    font-weight: bold;
    /* margin-top: 1rem; */
    color: var(--dark);

    @media (width > 1200px) {
      rotate: -90deg;
      transform: translateX(-75px);
    }
  }
</style>
