---
import { Image } from "astro:assets";
import logo from "../assets/img/pet.svg";
---

<div class="logo">
  <a href="/">
    <span>Nope</span>
    <span>Studio</span>
  </a>
</div>
<style>
  .logo {
    display: block;
    transform: translate(0);
    transition: all 0.5s ease-in-out;

    @starting-style {
      transform: translateY(-200%);
    }
  }

  .logo a:any-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    line-height: 0.9;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
    text-shadow: 1px 0 0 var(--black);
    font-family: var(--font-brand);
    transition: color 0.125s ease-in-out;

    @media (width > 1200px) {
      color: var(--yin);
      rotate: -90deg;
      transform: translateX(-20px);
      text-shadow: none;
    }
  }
</style>
