<div class="logo">
  <!-- <span>e</span><span style="color: var(--clr-primary-500)">three</span><span
    >e</span
  ><span>&#123;:::::::::::&gt;</span> -->
  <span style="rotate: -90deg; display: block">E</span><span
    style="rotate: -45deg; display: block ">3</span
  ><span>E</span>
</div>
<style>
  .logo {
    display: flex;
    gap: 0.5rem;
    font-size: 1.75rem;
    font-weight: bold;
    /* margin-top: 1rem; */
    color: var(--yin);
    /* font-family: monospace; */

    @media (width > 1200px) {
      rotate: -90deg;
      /* transform: translateX(-75px); */
      transform: translateX(-10px);
    }
  }
</style>
