<div class="logo">
  <!-- <span>e</span><span style="color: var(--clr-primary-500)">three</span><span
    >e</span
  ><span>&#123;:::::::::::&gt;</span> -->
  E3E
</div>
<style>
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    /* margin-top: 1rem; */
    color: var(--yin);
    /* font-family: monospace; */

    @media (width > 1200px) {
      rotate: -90deg;
      /* transform: translateX(-75px); */
      transform: translateX(-1 0px);
    }
  }
</style>
