---
import Socials from "./Socials.astro";

const navItems = [
  { name: "me", path: "/about" },
  { name: "blog", path: "/blog" },
  { name: "fun", path: "/blog" },
  { name: "news", path: "/blog" },
];

const BREAKPOINT = 500;
---

<nav role="navigation" aria-label="main-navigation">
  <ul class="nav-list">
    {
      navItems.map((item) => (
        <li>
          <a href={item.path}>{item.name}</a>
        </li>
      ))
    }
  </ul>
  <!-- <ul class="hide-at-breakpoint nav-list">
    <Socials />
  </ul> -->
</nav>
<style>
  .hide-at-breakpoint {
    display: flex;
    flex-wrap: wrap;
    @media (width > 1200px) {
      display: none;
    }
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: end;
    justify-content: center;

    @media (width > 1200px) {
      transform: rotate(-90deg);
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    column-gap: var(--gap-l);
  }

  a:any-link {
    /* padding: 2rem 1rem; */
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }
</style>
