---
const navItems = [
  { name: "me", path: "/about" },
  { name: "blog", path: "/blog" },
  { name: "fun", path: "/blog" },
  { name: "news", path: "/blog" },
];
---

<nav role="navigation" aria-label="main-navigation">
  <ul>
    {
      navItems.map((item) => (
        <li>
          <a href={item.path}>{item.name}</a>
        </li>
      ))
    }
    <!-- <li><a href="">x</a></li>
    <li><a href="">x</a></li>
    <li><a href="">x</a></li>
    <li><a href="">x</a></li> -->
  </ul>
</nav>
<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (width > 500px) {
      transform: rotate(-90deg);
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    list-style: none;
    @media (width > 500px) {
      flex-wrap: nowrap;
    }
  }

  a:any-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }
</style>
