---
import { navItems } from "../utils";
---

<nav role="navigation" aria-label="main-navigation">
  <ul class="nav-list-sorry-not-sorry">
    {
      navItems.map((item) => (
        <li class="quick-flip">
          <a href={item.path}>{item.name}</a>
        </li>
      ))
    }
  </ul>
</nav>
<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: end;
    justify-content: center;
    display: none;
    font-family: var(--font-heading);

    @media (width > 1200px) {
      transform: rotate(-90deg);
    }
    @media (width > 768px) {
      display: block;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    /* column-gap: var(--gap-s); */
    gap: clamp(var(--gap-xs), 1.5vw, var(--gap-m));
  }

  a:any-link {
    /* padding: 2rem 1rem; */
    text-decoration: none;
    /* text-transform: uppercase; */
    font-weight: bold;
    color: var(--ying);
  }
</style>
