---
import { navItems } from "../utils/data";
---

<nav role="navigation" aria-label="main-navigation">
  <menu class="nav-list-sorry-not-sorry">
    {
      navItems.map((item) => (
        <li class="quick-flip">
          <a href={item.path}>{item.name}</a>
        </li>
      ))
    }
  </menu>
</nav>
<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: end;
    justify-content: center;
    display: none;
    font-family: var(--font-brand);
    font-family: var(--font-heading);

    @media (width > 1200px) {
      transform: rotate(-90deg);
    }
    @media (width > 768px) {
      display: block;
    }
  }
  menu {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    /* column-gap: var(--gap-s); */
    gap: clamp(var(--gap-m), 1.5vw, var(--gap-l));
    gap: var(--gap-xl);
  }

  a:any-link {
    padding: 1rem 0;
    text-decoration: none;
    /* text-transform: uppercase; */
    /* font-weight: bold; */
    color: var(--ying);
    /* font-family: var(--font-heading); */
    font-size: 1rem;

    &:hover {
      color: var(--clr-accent);
      text-decoration: underline;
      text-underline-offset: 0.25em;
    }
  }
</style>
