---

---

<a href="#content" class="back-to-top">
  <!-- aria-hidden="true" to hide the icon from screen readers -->
  <span class="hidden">Back to top</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 16 16"
    ><path
      fill="currentColor"
      d="M7 1v10.844L2.146 7.737L.854 9.263L8 15.31l7.146-6.047l-1.292-1.526L9 11.844V1z"
    ></path></svg
  >
</a>
<style>
  @property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: -90deg;
  }
  @property --progress {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0%;
  }

  @keyframes progress {
    0% {
      --progress: 0%;
      /* --angle: -90deg; */
      --angle: -90deg;
    }

    10% {
      --angle: -90deg;
    }

    20% {
      --angle: -180deg;
    }

    100% {
      --angle: -180deg;
      --progress: 100%;
    }
  }

  .back-to-top {
    --yellow: oklch(85.33% 0.185 92.12);
    --white: oklch(100% 0 0);
    background-image: linear-gradient(
      var(--yellow) 0% var(--progress),
      var(--white) var(--progress) 100%
    );
    animation: progress linear;
    animation-timeline: scroll();
    background-color: oklch(100% 0 0);
    /* border: 2px solid currentColor; */
    border-radius: 0.5em;
    /* display: inline-block; */
    padding: 0.5rem;
    position: fixed;
    inset: auto 2rem 2rem auto;
    z-index: 2;
    transform: rotate(var(--angle));

    &:any-link {
      /* Instead of the link color, use the text color */
      color: currentColor;
      text-decoration: none;
    }

    @supports not (animation-timeline: scroll()) {
      --angle: -180deg;
      background: var(--yellow);
      /* transform: rotate(-180deg); */
    }
  }
</style>
