---
import { Icon } from "astro-icon/components";
---

<ul class="nav-list-sorry-not-sorry">
  <li class="">
    <a aria-label="github" href="https://github.com/Edchy" target="_blank">
      <Icon name="ri:github-line" size={24} color={"var(--yin)"} />
    </a>
  </li>
  <li class="">
    <a aria-label="github" href="https://github.com/Edchy" target="_blank">
      <Icon name="ri:linkedin-line" size={24} color={"var(--yin)"} />
    </a>
  </li>
  <li class="">
    <a aria-label="github" href="https://github.com/Edchy" target="_blank">
      <Icon name="ri:instagram-line" size={24} color={"var(--yin)"} />
    </a>
  </li>
  <Icon name="devicon:bun" size={24} color="var(--yin)" />
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
  }
</style>
