---
import { Icon } from "astro-icon/components";
import Chaos from "./Chaos.astro";
---

<ul class="nav-list-sorry-not-sorry">
  <li class="">
    <a aria-label="github" href="https://github.com/Edchy">
      <Icon name="ri:github-line" size={24} color={"var(--yin)"} />
    </a>
  </li>
  <li class="linkedIn-is-a-meme">
    <a aria-label="linkedin" href="">
      <Icon name="ri:linkedin-line" size={24} color={"var(--yin)"} />
    </a>
  </li>
  <!-- <Chaos /> -->
  <li class="">
    <a aria-label="github" href="https://github.com/Edchy">
      <Icon name="ri:instagram-line" size={24} color={"var(--yin)"} />
    </a>
  </li>
  <!-- <Icon name="devicon:bun" size={24} color="var(--yin)" /> -->
</ul>

<style>
  .linkedIn-is-a-meme a {
    &:hover {
      border: 1px solid var(--yin);
      color: red;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
  }
</style>
