---
import { getPosts } from "@/utils/posts";
import { string_to_slug } from "@/utils/utils";
import { Icon } from "astro-icon/components";

// Get only non-draft posts
const posts = await getPosts();
// Extract unique tags from only the published posts
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<ul class="tags">
  {
    tags.map((tag) => (
      <li class="tag">
        <a href={`/blog/${string_to_slug(tag)}`}>{tag}</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.125rem;
    justify-content: end;
    padding-bottom: 0.5rem;
  }
  a:any-link {
    color: var(--yin);
    text-decoration: none;
    border-radius: var(--radius);
    text-decoration: none;
    color: var(--yin);
    background-color: var(--blueish);
    background-color: var(--yang);
    padding: 0.25rem 0.5rem;
    border: 1px solid oklch(from var(--yin) l c h / 0.2);
    font-size: 0.75rem;
    transition: all 0.15s
      linear(
        0,
        0.453 7.8%,
        0.803 16.1%,
        1.048 24.9%,
        1.132 29.5%,
        1.194 34.4%,
        1.227 38.4%,
        1.245 42.5%,
        1.25 46.9%,
        1.242 51.7%,
        1.2 60.5%,
        1.038 84.9%,
        1.009 92.5%,
        1
      );
  }

  li:hover a {
    background-color: var(--blueish2);
    color: var(--white);
  }
</style>
