@import '@fontsource/luckiest-guy';

@font-face {
  font-family: 'Revenge';
  src: url('./fonts/Revenge.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kass';
  src: url('./fonts/kass-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  interpolate-size: allow-keywords;
  color-scheme: dark light;
  background-color: var(--yang);
  background-color: var(--blueish);
  color: var(--yin);

  @media(prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: normal;

}

button {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


input,
button,
textarea,
select {
  font: inherit;


}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}





@keyframes circle-in-top-right {
  from {
    clip-path: circle(0%);
  }

  to {
    clip-path: circle(150% at top left);
  }
}

@media (prefers-reduced-motion: no-preference) {
  ::view-transition-old(root) {
    animation: none;
  }

  ::view-transition-new(root) {
    animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-top-right forwards;
  }
}