 @property --clr-accent {
   syntax: "<color>";
   inherits: false;
   initial-value: oklch(80% 0.29 149);
 }

 @property --white {
   syntax: "<color>";
   inherits: false;
   initial-value: oklch(0.99 0.0353 101.83);
 }

 /* :root[style*="color-scheme: dark"] {
   --blend-mode: difference;
   --blend-mode: overlay;
   --blend-mode: hue;
   --blend-mode: saturation;
   --blend-mode: screen;
   --blend-mode: multiply;
   --blend-mode: hard-light;
   --blend-mode: color-dodge;
   --blend-mode: difference;
   --blend-mode: darken;
   --blend-mode: exclusion;
   --blend-mode: luminosity;
 } */


 :root {
   /* 
   --blend-mode: hard-light;
  --blend-mode: darken;
  --blend-mode: difference;
  --blend-mode: exclusion;
  --blend-mode: hue;
  --blend-mode: overlay;
  --blend-mode: saturation;
  --blend-mode: screen;
  --blend-mode: multiply;
      */
   --black: oklch(18.22% 0 0);
   --black: oklch(10% 0.29 149);
   /* --black: oklch(from var(--clr--accent) l c h); */
   /* --white: oklch(98% 0 91); */
   --neutral-500: oklch(28.22% 0 0);
   --neutral-400: oklch(38.22% 0 0);
   --neutral-300: oklch(48.22% 0 0);
   --neutral-200: oklch(58.22% 0 0);
   --neutral-100: oklch(68.22% 0 0);
   --clr-primary-700: oklch(50.37% 0.2209 27.39);
   --clr-primary-600: oklch(60.37% 0.2209 27.39);
   --clr-primary-500: oklch(70.37% 0.2209 27.39);
   --clr-primary-400: oklch(80.37% 0.2209 27.39);
   --clr-primary-300: oklch(90.37% 0.2209 27.39);
   --clr-primary-200: oklch(100.37% 0.2209 27.39);
   --nice-blueish-hue: oklch(50.58% 0.2956 266.08);
   --blu: oklch(20% 0.2956 266.08);
   --blu2: oklch(55.58% 0.2956 266.08);

   /* mode */
   --yang: light-dark(var(--white), var(--black));
   --yin: light-dark(var(--black), var(--white));
   --blueish: light-dark(var(--blu2), var(--blu));
   --blueish2: light-dark(var(--blu), var(--blu2));
   /* --blueish: light-dark(var(--clr-primary-400), var(--clr-primary-700));
   --blueish2: light-dark(var(--clr-primary-700), var(--clr-primary-400)); */

   --dark-gradient: linear-gradient(270deg, #007a2b, #007545, #006e5b, #00636d, #00557b, #004584, #003286, #0f1c82);
   --light-gradient: linear-gradient(270deg, #00d64b, #00cd79, #00c09e, #00adbc, #0095d3, #0079e2, #0058e6, #1a30de);

   --gradient: linear-gradient(270deg, #00d64b, #00cd79, #00c09e, #00adbc, #0095d3, #0079e2, #0058e6, #1a30de);

   --link-light: oklch(from var(--nice-blueish-hue) 60% c h);
   /* --surface-1: black;
   --surface-2: var(--neutral-200);
   --surface-3: var(--neutral-300);

   --foreground-1: var(--neutral-500);
   --foreground-2: var(--neutral-400);
   --foreground-3: var(--neutral-300);
   
   --figure-1: var(--neutral-200);
   --ground-1: var(--neutral-100);
   */
   --mask-edge-drip-bottom: radial-gradient(20px at bottom, transparent 97%, #000) 50% calc(100% - 20px) /40px 100% repeat-x, radial-gradient(20px at 25% 50%, #000 97%, transparent) calc(50% - 20px) 99% /80px 40px repeat-x;
   --shadow: 0 2px 4px oklch(from var(--black) l c h / 0.1);
   /* typography */
   --text-huge: clamp(5rem, 1rem + 10vw, 10rem);
   --text-copy: clamp(1rem, 2vw + 0.5rem, 1.25rem);
   --font-brand: "Revenge",
     'Helvetica Neue',
     sans-serif;
   --font-heading: "Brockmann",
     Bahnschrift,
     'DIN Alternate',
     'Franklin Gothic Medium',
     'Nimbus Sans Narrow',
     sans-serif-condensed,
     sans-serif;
   --font-body: "Literata", Charter,
     'Bitstream Charter',
     'Sitka Text',
     Cambria,
     serif;

   /* layout */
   --page-width: min(100% - 1rem, 1500px);
   --radius: 4px;

   /* State */
   --hover: 0.75;

   /*  */
   --gap-xs: .5rem;
   --gap-s: .75rem;
   --gap-m: 1rem;
   --gap-l: 1.5rem;
   --gap-xl: 2rem;
   --gap-xxl: 3rem;

   --header-offset: 6rem;

 }