---
import { EMAIL } from "@/utils/data";
---

<footer>
  <div>Add nav to other posts here.</div>
  If you find any mistakes, errors or typos please let me know <a
    href={`mailto:${EMAIL}`}>my email</a
  >
</footer>
