---
import { EMAIL } from "@/utils/data";
import { getPosts } from "@/utils/posts";
const posts = await getPosts(false);
const { tags: currentTags, title } = Astro.props;
console.log(currentTags);

const relatedPosts = posts.filter((post) => {
  return (
    post.data.tags.some((tag) => {
      return currentTags.includes(tag);
    }) && post.data.title !== title
  );
});
console.log(relatedPosts.length);
---

<footer>
  <div>Add nav to other posts here.</div>
  <p>
    Hey! Thanks for reading — if you spot a mistake, typo, or just think
    something could be clearer, I’d genuinely love to hear it. Feedback is kinda
    my jam. <a href={`mailto:${EMAIL}`}>Drop a note</a> 💚
  </p>
</footer>

<style>
  footer {
    padding-block-end: 5rem;
    font-size: 0.875rem;
  }
  p {
    max-width: 65ch;
    margin-inline: auto;
  }
  a:any-link {
    color: var(--clr-accent);
    text-underline-offset: 5px;
    text-decoration-thickness: 5px;
    transition: opacity 0.1s ease-out;
    &:hover {
      opacity: 0.6;
    }
  }
</style>
