<footer>
  <a href="https://www.youtube.com/results?search_query=snl+papyrus">papyrus</a>
</footer>

<style>
  footer {
    /* width: var(--page-width);
    margin-inline: auto; */
    background-color: var(--clr-primary-500);
    padding-block: 2rem;
    display: grid;
    place-content: center;
  }
</style>
