---
import Nav from "../components/Nav.astro";
---

<header>
  header
  <!-- <div class="logo-container">
    <span>E3E cxxx&#123;::::::::::::::::::::::&gt;</span>
  </div> -->
  <!-- <Nav /> -->
</header>

<style>
  header {
    background-color: white;
    /* width: 100vw; */
  }
  /* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    background-color: white;
    width: 100%;
  } */

  .logo-container span {
    font-weight: bold;
  }
</style>
