---
import Nav from "../components/Nav.astro";
---

<header>
  <div class="wrapper inner">
    <div class="logo-container">
      <span>E3E cxxx&#123;::::::::::::::::::::::&gt;</span>
    </div>
    <Nav />
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-primary-500);
    /* padding-block: 1rem; */
    /* width: var(--page-width);
    margin-inline: auto; */
  }
  .inner {
    display: flex;
    justify-content: space-between;
    /* outline: 1px solid hotpink; */
    margin-inline: auto;
  }
  .logo-container span {
    font-weight: bold;
  }
</style>
