---
import "../css/main.css";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Nav from "../components/Nav.astro";
import ScrollProgressIndicator from "../components/ScrollProgressIndicator.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>E3E</title>
  </head>
  <body>
    <div class="grid-wrapper">
      <header>
        <div class="inner">
          <div class="flex items-center justify-between">
            <div>Logo</div>
            <button class="header-cta">hej</button>
          </div>
          <Nav />
          <span>x</span>
        </div>
      </header>
      <section>
        <slot />
      </section>
      <aside>
        <div class="inner">
          <button>Hello</button>
          <div class="socials">
            <span>x</span>
            <span>x</span>
          </div>
        </div>
      </aside>
    </div>
  </body>
</html>

<style>
  .grid-wrapper {
    --width: 100px;
    /* background-color: wheat; */
    /* min-height: 100vb; */
  }
  header {
  }
  aside {
    background-color: rebeccapurple;
    display: none;
  }
  section {
    /* background-color: chartreuse; */
    padding: 1rem;
  }

  @media (width > 1200px) {
    .grid-wrapper {
      display: grid;
      max-width: 1200px;
      margin-inline: auto;
      grid-template-columns: var(--width) 1fr var(--width);
    }
    .inner {
      border-right: 1px solid white;

      width: var(--width);
      min-height: 100vb;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    header {
      height: 100vb;
    }

    aside {
      display: block;
      .inner {
        justify-content: center;
      }
      .socials {
        margin: auto;
      }
    }
    .header-cta {
      display: none;
    }
  }
</style>
