---
import "../css/main.css";
import Nav from "../components/Nav.astro";
import ScrollProgressIndicator from "../components/ScrollProgressIndicator.astro";
import Socials from "../components/Socials.astro";
import Logo from "../components/Logo.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Burger from "../components/Burger.astro";
import BigRedButton2 from "../components/BigRedButton2.astro";

const { title = "Nope Studios" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body id="page-top">
    <div class="grid-wrapper">
      <header>
        <div class="inner">
          <Logo />
          <Nav />
          <div class="flex">
            <ThemeToggle />
            <Burger />
          </div>
          <!-- <p>x</p> -->
        </div>
      </header>
      <div>
        <slot />
      </div>
      <aside>
        <div class="inner">
          <!-- <BigRedButton2 /> -->
          <p>아니 사진관</p>
          <!-- <p>いいえ。</p> -->
          <nav class="socials">
            <Socials />
          </nav>
          <ScrollProgressIndicator anchor="#page-top" />
        </div>
      </aside>
    </div>
  </body>
</html>

<style>
  header {
    /* position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999 !important;
    border: 1px solid red;
    background-color: red; */
  }
  .grid-wrapper {
    --width: 150px;
    --left-col-width: var(--width);
    --right-col-width: var(--width);
  }

  .inner {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }

  aside {
    display: none;
  }

  @media (width > 1200px) {
    .grid-wrapper {
      display: grid;
      max-width: 1400px;
      margin-inline: auto;
      grid-template-columns: var(--left-col-width) 1fr var(--right-col-width);
    }
    .inner {
      width: var(--width);
      min-height: 100vb;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    header {
      height: 100vb;
    }

    aside {
      display: block;
      .inner {
        justify-content: center;
      }
      .socials {
        margin: auto;
      }
    }
  }
</style>
