---
import "../css/main.css";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import ScrollProgressIndicator from "../components/ScrollProgressIndicator.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>E3E</title>
  </head>
  <body>
    <div id="content" class="grid">
      <ScrollProgressIndicator />
      <!-- Item 1 -->
      <aside class="x">
        <div class="container">
          <h2>hello</h2>
          <ul>
            <span>hello</span>
            <span>hello</span>
            <span>hello</span>
          </ul>
          <h3>hello</h3>
        </div>
      </aside>
      <!-- Item 2 -->
      <div class="y">main</div>
      <!-- Item 3 -->
      <aside class="z">
        <div class="container">
          <h2>hello</h2>
          <ul>
            <span>hello</span>
            <span>hello</span>
            <span>hello</span>
          </ul>
        </div>
      </aside>
    </div>
    <section>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam
      consequuntur consequatur tempore eos, minima reiciendis perspiciatis sequi
      magni illum harum aliquam laudantium omnis, doloremque nostrum laboriosam
      reprehenderit rem ipsam facilis atque veritatis temporibus pariatur ex!
      Velit beatae animi deleniti explicabo id voluptatum aut facilis, rerum est
      sint veritatis dolore saepe exercitationem sapiente quia asperiores
      laboriosam reiciendis ad eveniet laborum hic magnam voluptatibus?
      Reprehenderit at unde, eligendi fuga, culpa quaerat cumque id voluptatem
      nihil magni excepturi eveniet cum rerum atque! Cupiditate assumenda
      similique dicta obcaecati aspernatur quo eum molestias amet sequi totam
      beatae vitae qui voluptatem fuga expedita impedit velit, eligendi eos nemo
      dolore odit possimus harum sed. Doloremque nulla nemo suscipit deserunt
      ipsam quas amet velit neque aut atque repudiandae sunt excepturi
      repellendus quod accusantium ex libero quisquam laborum laboriosam veniam,
      quia sed! Soluta impedit debitis molestiae facere nostrum recusandae
      maiores perspiciatis cupiditate, voluptates quod cum quasi provident
      optio. Provident, saepe rem. Adipisci quisquam nisi nihil, aut nulla
      aliquid laudantium tenetur ipsa dicta repudiandae voluptate cupiditate
      maiores hic, provident, minus laborum quasi molestiae ut reprehenderit
      consequatur! Optio rem cumque repellat atque quod accusamus illum hic,
      magni exercitationem reprehenderit animi omnis, quae adipisci tempora,
      voluptatibus doloribus! Reiciendis excepturi corporis quidem nam.
    </section>
  </body>
</html>

<style>
  section {
    width: 20ch;
    margin-inline: auto;
  }
  .grid {
    --padding: 1rem;
    --color: rgb(73, 53, 222);
    --height: 95vh;
    --main-col-width: 55ch;
    --aside-col-width: 1fr;
    height: var(--height);

    display: grid;
    /* gap: var(--padding); */
    grid-template-columns:
      var(--padding) var(--aside-col-width) var(--main-col-width)
      var(--aside-col-width) var(--padding);
    /* grid-template-rows: auto;  */
    grid-template-areas: ". x y z .";
    @media (width > 900px) {
      --main-col-width: 65ch;
    }
    @media (width > 1100px) {
      --main-col-width: 75ch;
      --padding: 4vmax;
    }
    @media (width > 1300px) {
      --main-col-width: 100ch;
    }
  }
  aside {
    position: relative;
  }

  .container {
    position: fixed;
    /* top: var(--padding); */
    height: calc(var(--height) - 5vh);
    width: calc((100vw - var(--main-col-width) - (var(--padding) * 2)) / 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .container:not(:has(> :nth-child(3))) {
    /* background-color: rgb(45, 224, 42); */
    justify-content: center;

    ul {
      margin: auto;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
  }
  .x {
    grid-area: x;
    background-color: bisque;

    .container {
      left: calc(var(--padding));
    }
  }
  .y {
    background-color: white;
    grid-area: y;
  }
  .z {
    background-color: var(--color);
    grid-area: z;
    .container {
      right: calc(var(--padding));
    }
  }
</style>
