---
import "../css/main.css";
import Footer from "./Footer.astro";
import Nav from "../components/Nav.astro";
import ScrollProgressIndicator from "../components/ScrollProgressIndicator.astro";
import Socials from "../components/Socials.astro";
import Logo from "../components/Logo.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>E3E</title>
  </head>
  <body id="page-top">
    <div class="grid-wrapper">
      <header>
        <div class="inner">
          <Logo />
          <Nav />
          <ThemeToggle />
          <!-- <p>x</p> -->
        </div>
      </header>
      <slot />
      <aside>
        <div class="inner">
          <!-- <ThemeToggle /> -->
          <nav class="socials">
            <Socials />
          </nav>
          <ScrollProgressIndicator anchor="#page-top" />
        </div>
      </aside>
    </div>
  </body>
</html>

<style>
  .grid-wrapper {
    --width: 150px;
    --left-col-width: var(--width);
    --right-col-width: var(--width);
  }
  header {
    /* position: fixed;
    inset: 0 0 auto 0; */
  }
  .inner {
    /* background: url("nik.gif");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-color: rgb(60, 2, 135);
    background-blend-mode: color-burn;
    background-blend-mode: difference;
    background-blend-mode: color-dodge;
    background-blend-mode: multiply;
    padding-block-start: 0rem; */

    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-nav {
    /* background-color: aqua; */
    /* margin-block-end: var(--gap-xs);
    padding-inline: var(--gap-l);
    padding-block: var(--gap-l); */
  }
  aside {
    display: none;
    /* background: url("nik.gif"); */
    /* background-color: red; */
    /* background-image: url("@/assets/mesh-gradient2.svg");
    background-size: cover;
    background-repeat: no-repeat; */
    /* position: fixed;
    inset: 0 0 auto 0;
    background-image: linear-gradient(
      var(--yang) 0% var(--progress),
      var(--neutral-300) var(--progress) 100%
    );
    animation: progress linear;
    animation-timeline: scroll();

    @media (width > 1200px) {
      position: initial;
    } */
  }

  @media (width > 1200px) {
    .grid-wrapper {
      display: grid;
      max-width: 1400px;
      margin-inline: auto;
      grid-template-columns: var(--left-col-width) 1fr var(--right-col-width);
    }
    .inner {
      /* border: 1px solid white; */
      width: var(--width);
      min-height: 100vb;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    header {
      height: 100vb;
    }

    aside {
      display: block;
      .inner {
        justify-content: center;
      }
      .socials {
        margin: auto;
      }
    }
  }
</style>
