---
import "../css/main.css";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Nav from "../components/Nav.astro";
import ScrollProgressIndicator from "../components/ScrollProgressIndicator.astro";
import Socials from "../components/Socials.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>E3E</title>
  </head>
  <body id="page-top">
    <div class="grid-wrapper">
      <ScrollProgressIndicator anchor="#page-top" />
      <header>
        <div class="inner">
          <div class="flex items-center justify-between top-nav">
            <div>Logo</div>
            <button class="cta-btn">hej</button>
          </div>
          <Nav />
          <span>x</span>
        </div>
      </header>
      <section>
        <slot />
      </section>
      <aside>
        <div class="inner">
          <button>Hello</button>
          <nav class="socials">
            <ul class="nav-list">
              <Socials />
            </ul>
          </nav>
        </div>
      </aside>
    </div>
  </body>
</html>

<style>
  .grid-wrapper {
    --width: 100px;
    /* background-color: wheat; */
    /* min-height: 100vb; */
  }
  header {
    background-color: bisque;
    /* position: fixed;
    inset: 0 0 auto 0;
    background-image: linear-gradient(
      var(--light) 0% var(--progress),
      var(--dark) var(--progress) 100%
    );
    animation: progress linear;
    animation-timeline: scroll();

    @media (width > 1200px) {
      position: initial;
    } */
  }
  .inner {
    padding-block-start: 0.25rem;
    padding-inline: 2rem;
  }
  .top-nav {
    background-color: aqua;
    margin-block-end: var(--gap-xs);
  }
  aside {
    background-color: rgba(182, 136, 228, 0.291);
    display: none;
    position: fixed;
    inset: 0 0 auto 0;
    background-image: linear-gradient(
      var(--light) 0% var(--progress),
      var(--neutral-300) var(--progress) 100%
    );
    animation: progress linear;
    animation-timeline: scroll();

    @media (width > 1200px) {
      position: initial;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
  }

  @media (width > 1200px) {
    .grid-wrapper {
      display: grid;
      max-width: 1200px;
      margin-inline: auto;
      grid-template-columns: var(--width) 1fr var(--width);
    }
    .inner {
      /* border-right: 1px solid white; */

      width: var(--width);
      min-height: 100vb;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    header {
      height: 100vb;
    }

    aside {
      display: block;
      .inner {
        justify-content: center;
      }
      .socials {
        margin: auto;
      }
    }
    .cta-btn {
      display: none;
    }
  }
</style>
