---
import "../css/main.css";
import Nav from "../components/Nav.astro";
import ScrollProgressIndicator from "../components/ScrollProgressIndicator.astro";
import Socials from "../components/Socials.astro";
import Logo from "../components/Logo.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Burger from "../components/Burger.astro";
import Head from "./Head.astro";
import Footer from "./Footer.astro";
import { slide } from "astro:transitions";
import { Image } from "astro:assets";
import v from "@/assets/img/mickey-v.png";
import thumb from "@/assets/img/mickey-dislike.png";

const { title, description, showAside, showScrollProgress, showFooter = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head {title} {description} />
  <body id="page-top">
    <div class="grid-wrapper">
      <header >
        <div class="backdrop-edge"></div>
        <div class="inner backdrop">
          <Logo />
          <Nav />
          <div class="flex">
            <ThemeToggle />
            <Burger />
          </div>
          <!-- <p>x</p> -->
        </div>
      </header>
      <!-- <div transition:animate={slide({ duration: "3.4s" })}class="content"> -->
      <div class="content">
        <slot />
      </div>
      <aside>
        <div class="inner backdrop">

          {
            showAside && (
              // <p>아니 사진관</p>
            <Image src={v} alt="mickey mouse hand doing a V sign" class="mickey" width={75}/>
              <nav class="socials">
                <Socials />
              </nav>
            )
          }
          {showScrollProgress && (
              <ScrollProgressIndicator anchor="#page-top"/>
          )}
        
        </div>
      </aside>

      {showFooter && <Footer />}
    </div>
  </body>
</html>

<style>

  .content {
    /* padding-inline: 1rem; */
    /* margin-top: var(--header-offset); */
    
  }

 
  .grid-wrapper {
    --width: 150px;
    --left-col-width: var(--width);
    --right-col-width: var(--width);
  }

  .inner {
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline: 1rem;
    /* padding-inline-start: 1rem;
    padding-inline-end: 0.5rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
      /* border: 20px solid var(--yin); */
    /* -webkit-mask: var(--mask-edge-drip-bottom); */

    /* background-color: var(--blueish); */
    /* background-color: red; */
    /* background-color: var(--clr-accent); */

    /* border: 10px solid var(--yin); */
    /* border-radius: var(--radius); */
    backdrop-filter: blur(0.6rem);
  

  }

  aside {
    display: none;
  }

  /* @media (width < 768px) {
    .inner {
      border-color: transparent;
      padding-block: unset;
      padding-block: 1rem;
    }
  } */
  header {
      position: fixed;
      top: 0;
      z-index: calc(infinity - 1);
      width: 100%;
      padding: 0;
      

  }
  @media (width > 1200px) {
    header {
      position: relative;
    }
    .grid-wrapper {
      display: grid;
      max-width: 1400px;
      margin-inline: auto;
      grid-template-columns: var(--left-col-width) 1fr var(--right-col-width);
    }
    .inner {
      width: var(--width);
      min-height: 100vb;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0;
      border-top: 0;
      /* padding-inline: unset;
      padding-block: unset; */
      -webkit-mask: unset;
      /* -webkit-mask: var(--mask-edge-drip-horizontal); */

      
    }
    header {
      /* height: 100vb; */
    }

    aside {
      display: block;
      .inner {
        justify-content: center;
      }
      .socials {
        margin: auto;
      }
    }
  }
</style>
