---
import "../css/main.css";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Nav from "../components/Nav.astro";
import ScrollProgressIndicator from "../components/ScrollProgressIndicator.astro";
import Socials from "../components/Socials.astro";
import CtaBtn from "../components/CtaBtn.astro";
import Logo from "../components/Logo.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>E3E</title>
  </head>
  <body id="page-top">
    <div class="grid-wrapper">
      <!-- <ScrollProgressIndicator anchor="#page-top" /> -->
      <header>
        <div class="inner">
          <div class="flex items-center justify-between top-nav">
            <Logo />
            <CtaBtn hideOnDesktop={true} />
          </div>
          <Nav />
          <span>x</span>
        </div>
      </header>
      <section>
        <slot />
      </section>
      <aside>
        <div class="inner">
          <CtaBtn />
          <nav class="socials">
            <ul class="nav-list">
              <Socials />
            </ul>
          </nav>
          <ScrollProgressIndicator anchor="#page-top" />
        </div>
      </aside>
    </div>
  </body>
</html>

<style>
  .grid-wrapper {
    --width: 150px;
    --left-col-width: var(--width);
    --right-col-width: var(--width);
    /* background-color: wheat; */
    /* min-height: 100vb; */
  }
  header {
    /* position: fixed;
    inset: 0 0 auto 0;
    background-image: linear-gradient(
      var(--light) 0% var(--progress),
      var(--dark) var(--progress) 100%
    );
    animation: progress linear;
    animation-timeline: scroll();

    @media (width > 1200px) {
      position: initial;
    } */
  }
  .inner {
    padding-block-start: 0rem;
    /* padding-inline: 2rem; */
  }
  .top-nav {
    /* background-color: aqua; */
    /* margin-block-end: var(--gap-xs);
    padding-inline: var(--gap-l);
    padding-block: var(--gap-l); */
  }
  aside {
    display: none;
    /* position: fixed;
    inset: 0 0 auto 0;
    background-image: linear-gradient(
      var(--light) 0% var(--progress),
      var(--neutral-300) var(--progress) 100%
    );
    animation: progress linear;
    animation-timeline: scroll();

    @media (width > 1200px) {
      position: initial;
    } */
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
  }

  @media (width > 1200px) {
    .grid-wrapper {
      display: grid;
      max-width: 1200px;
      margin-inline: auto;
      grid-template-columns: var(--left-col-width) 1fr var(--right-col-width);
    }
    .inner {
      border: 1px solid white;

      width: var(--width);
      min-height: 100vb;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    header {
      height: 100vb;
    }

    aside {
      display: block;
      .inner {
        justify-content: center;
      }
      .socials {
        margin: auto;
      }
    }
  }
</style>
