---
import "../css/main.css";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Nav from "../components/Nav.astro";
import ScrollProgressIndicator from "../components/ScrollProgressIndicator.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>E3E</title>
  </head>
  <body>
    <div class="grid-wrapper">
      <header>
        <div class="inner">
          <div class="flex items-center justify-between">
            <div>Logo</div>
            <button>hej</button>
          </div>
          <Nav />
        </div>
      </header>
      <section>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus,
        natus rem. Accusamus illum sunt culpa dicta modi consequatur aperiam.
        Reiciendis perspiciatis, aliquid voluptatem a sint eligendi
        necessitatibus. Dolores nihil cupiditate vitae, molestiae eum eius
        possimus perferendis necessitatibus ad maxime voluptatem, distinctio
        culpa veniam inventore! Dolorum delectus laudantium ducimus ut? Minus
        earum iusto maxime, minima iure labore. Commodi quod totam nemo. Rem
        beatae at placeat aperiam magnam cum odit cupiditate laboriosam.
        Explicabo doloribus necessitatibus ex nam consequuntur, libero ullam
        cumque quam nesciunt laudantium itaque impedit non vel nihil eius culpa
        iusto possimus, sed tenetur debitis eveniet. Error animi quibusdam saepe
        odit inventore perferendis dicta asperiores dolorum hic facilis ad
        mollitia a, assumenda repellat aliquid similique. Eius vel porro
        delectus nulla nihil, soluta repellat eaque accusantium illo animi iure
        sequi odit aperiam at voluptatem veniam eveniet ut officiis debitis
        doloremque? Quo optio suscipit recusandae, adipisci debitis perferendis
        iste nemo neque sint deleniti dignissimos consequatur unde ipsa voluptas
        mollitia nam? Iure sapiente commodi modi ad maiores sit? Nesciunt neque
        modi quisquam quidem temporibus quas ex non placeat at accusantium
        maiores obcaecati alias minima reiciendis ducimus ea eaque in quis,
        nobis dicta similique! Saepe atque error quaerat mollitia unde fugit
        soluta sunt dicta impedit autem. Itaque error neque, dolorem ullam qui
        quasi modi inventore corporis. Quis impedit deleniti provident dolorem
        minima nostrum enim distinctio reprehenderit iusto laborum excepturi
        nam, sunt fugit modi eius. Velit quod tempora dolores ab! Quasi neque
        minima aliquam laboriosam dignissimos nesciunt soluta fugit id sint
        voluptatum, doloribus sit quidem corporis minus ut quibusdam,
        repudiandae perferendis. Temporibus, quia iusto, nisi qui cumque dolor
        ab ipsam officia, tempora debitis molestias totam voluptates itaque.
        Eius maiores, sint et similique commodi ut atque at aliquam eos.
        Temporibus, aspernatur praesentium incidunt nostrum natus distinctio
        cumque odio quasi sed blanditiis in molestiae laboriosam rerum animi
        quam est, asperiores ipsa dolorum excepturi. Quasi alias ipsa libero et
        molestiae quibusdam magni? Nemo obcaecati voluptates dolore, facere
        harum necessitatibus? Saepe quae, vero veritatis facere voluptate
        suscipit autem maxime, tenetur odio odit iure incidunt totam delectus
        dignissimos, sit deleniti non harum hic. Libero rem quasi obcaecati illo
        illum mollitia facilis et dicta maiores distinctio culpa commodi
        consequuntur omnis ratione est odio dolor atque, reprehenderit, nesciunt
        praesentium ad non doloremque iste fugiat! Est sit ducimus laboriosam
        aspernatur voluptates cupiditate voluptatem fugit provident. Blanditiis
        delectus unde, rem qui optio ratione et voluptate aperiam dicta pariatur
        labore quos sapiente ipsam maxime. Veniam sunt assumenda minus explicabo
        autem consequuntur perferendis id eveniet atque ab facere nesciunt
        deserunt officiis possimus iusto saepe alias ut omnis iure sequi, amet
        beatae. Cum repudiandae sapiente distinctio velit molestiae eius vitae
        est repellat aspernatur doloremque ab, reiciendis, tempora doloribus
        perferendis soluta laudantium sequi. Error esse quae minima vel in nemo
        facere fuga sequi tempora commodi doloremque consectetur doloribus ipsa
        mollitia assumenda harum, architecto debitis sit odit quidem optio
        libero laboriosam iusto beatae. Nulla cumque voluptatem corporis nostrum
        facere, vero nobis nam quo recusandae. Modi maiores, cum sunt eum sit
        incidunt magnam, nesciunt pariatur sint dicta, distinctio amet
        laudantium soluta?
      </section>
      <aside>y</aside>
    </div>
  </body>
</html>

<style>
  .grid-wrapper {
    background-color: wheat;
    min-height: 100vb;
  }
  header {
    background-color: rgb(8, 98, 176);
  }
  aside {
    background-color: rebeccapurple;
    display: none;
  }
  section {
    background-color: chartreuse;
  }

  @media (width > 500px) {
    .grid-wrapper {
      display: grid;
      max-width: 1200px;
      margin-inline: auto;
      grid-template-columns: 100px 1fr 100px;
    }
    header {
      height: 100vb;
    }
    .inner {
      width: 100px;
      height: 50vh;
      background-color: red;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    aside {
      display: block;
    }
    button {
      display: none;
    }
  }
</style>
